# MET Data Set Analysis

1. Goal/Question we answer with the group of data:
2. The three coolest data cleaning/wrangling steps:
3. The graph with the coolest insight about the data or prettiest view of it 
4. Any roadblocks we’re facing:

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt 
import matplotlib.image as mpimg

import warnings
warnings.filterwarnings("ignore")

import seaborn as sns

import matplotlib.style as style

%matplotlib inline

In [3]:
met = pd.read_csv('MET.csv')

In [4]:
met.head()

,Object Number,Is Highlight,Is Public Domain,Is Timeline Work,Object ID,Department,AccessionYear,Object Name,Title,Culture,...,Excavation,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL
0,1979.486.1,False,False,False,1,The American Wing,1979,Coin,One-dollar Liberty Head Coin,NaN,...,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN
1,1980.264.5,False,False,False,2,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,NaN,...,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN
2,67.265.9,False,False,False,3,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,...,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN
3,67.265.10,False,False,False,4,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,...,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN
4,67.265.11,False,False,False,5,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,...,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN

In [5]:
met.columns

Index(['Object Number', 'Is Highlight', 'Is Public Domain', 'Is Timeline Work',
       'Object ID', 'Department', 'AccessionYear', 'Object Name', 'Title',
       'Culture', 'Period', 'Dynasty', 'Reign', 'Portfolio', 'Artist Role',
       'Artist Prefix', 'Artist Display Name', 'Artist Display Bio',
       'Artist Suffix', 'Artist Alpha Sort', 'Artist Nationality',
       'Artist Begin Date', 'Artist End Date', 'Artist Gender',
       'Artist ULAN URL', 'Artist Wikidata URL', 'Object Date',
       'Object Begin Date', 'Object End Date', 'Medium', 'Dimensions',
       'Credit Line', 'Geography Type', 'City', 'State', 'County', 'Country',
       'Region', 'Subregion', 'Locale', 'Locus', 'Excavation', 'River',
       'Classification', 'Rights and Reproduction', 'Link Resource',
       'Object Wikidata URL', 'Metadata Date', 'Repository', 'Tags',
       'Tags AAT URL'],
      dtype='object')

In [6]:
met.shape

(474383, 51)

In [7]:
met.dtypes

Object Number               object
Is Highlight                  bool
Is Public Domain              bool
Is Timeline Work              bool
Object ID                    int64
Department                  object
AccessionYear               object
Object Name                 object
Title                       object
Culture                     object
Period                      object
Dynasty                     object
Reign                       object
Portfolio                   object
Artist Role                 object
Artist Prefix               object
Artist Display Name         object
Artist Display Bio          object
Artist Suffix               object
Artist Alpha Sort           object
Artist Nationality          object
Artist Begin Date           object
Artist End Date             object
Artist Gender               object
Artist ULAN URL             object
Artist Wikidata URL         object
Object Date                 object
Object Begin Date            int64
Object End Date              int64
Medium                      object
Dimensions                  object
Credit Line                 object
Geography Type              object
City                        object
State                       object
County                      object
Country                     object
Region                      object
Subregion                   object
Locale                      object
Locus                       object
Excavation                  object
River                       object
Classification              object
Rights and Reproduction     object
Link Resource               object
Object Wikidata URL         object
Metadata Date              float64
Repository                  object
Tags                        object
Tags AAT URL                object
dtype: object

## Removing Columns
Removed unecessary columns and columns with a large amount of null entries

In [8]:
remove = ['Object Number', 'Artist Prefix', 'Portfolio', 'Artist Suffix', 
          'Artist ULAN URL', 'Artist Wikidata URL', 'Artist Alpha Sort', 
          'Geography Type', 'Excavation', 'River', 'Classification', 
          'Rights and Reproduction', 'Link Resource', 'Object Wikidata URL', 
          'Metadata Date', 'Repository', 'Tags AAT URL']
met = met.drop(remove, axis=1)
met.head()

,Is Highlight,Is Public Domain,Is Timeline Work,Object ID,Department,AccessionYear,Object Name,Title,Culture,Period,...,Credit Line,City,State,County,Country,Region,Subregion,Locale,Locus,Tags
0,False,False,False,1,The American Wing,1979,Coin,One-dollar Liberty Head Coin,NaN,NaN,...,"Gift of Heinz L. Stoppelmann, 1979",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,False,False,False,2,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,...,"Gift of Heinz L. Stoppelmann, 1980",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,False,False,3,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,...,"Gift of C. Ruxton Love Jr., 1967",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,False,False,False,4,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,...,"Gift of C. Ruxton Love Jr., 1967",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,False,False,5,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,...,"Gift of C. Ruxton Love Jr., 1967",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
print(met.isnull().sum())

Is Highlight                0
Is Public Domain            0
Is Timeline Work            0
Object ID                   0
Department                  0
AccessionYear            4156
Object Name              1936
Title                   29894
Culture                268151
Period                 385000
Dynasty                451247
Reign                  463207
Artist Role            204041
Artist Display Name    201947
Artist Display Bio     241101
Artist Nationality     291952
Artist Begin Date      238471
Artist End Date        238473
Artist Gender          373500
Object Date             14998
Object Begin Date           0
Object End Date             0
Medium                   7153
Dimensions              75485
Credit Line               417
City                   442624
State                  471855
County                 466143
Country                399296
Region                 443048
Subregion              452327
Locale                 458773
Locus                  466986
Tags                   256056
dtype: int64

In [10]:
met.shape

(474383, 34)

In [11]:
#Period, Dynasty, Reign, Artist Display Bio, Artist Nationality?, Artist Gender?, City, State, County, Country,
#Region, Subregion, Locale, Locus
blank = ['Period', 'Dynasty', 'Reign', 'Artist Display Bio', 'Artist Gender', 'City', 'State', 'County', 'Country', 
         'Region', 'Subregion', 'Locale', 'Locus']
met = met.drop(blank, axis=1)
met.head()

,Is Highlight,Is Public Domain,Is Timeline Work,Object ID,Department,AccessionYear,Object Name,Title,Culture,Artist Role,...,Artist Nationality,Artist Begin Date,Artist End Date,Object Date,Object Begin Date,Object End Date,Medium,Dimensions,Credit Line,Tags
0,False,False,False,1,The American Wing,1979,Coin,One-dollar Liberty Head Coin,NaN,Maker,...,American,1794,1869,1853,1853,1853,Gold,Dimensions unavailable,"Gift of Heinz L. Stoppelmann, 1979",NaN
1,False,False,False,2,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,NaN,Maker,...,NaN,1785,1844,1901,1901,1901,Gold,Dimensions unavailable,"Gift of Heinz L. Stoppelmann, 1980",NaN
2,False,False,False,3,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,...,NaN,NaN,NaN,1909–27,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love Jr., 1967",NaN
3,False,False,False,4,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,...,NaN,NaN,NaN,1909–27,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love Jr., 1967",NaN
4,False,False,False,5,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,...,NaN,NaN,NaN,1909–27,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love Jr., 1967",NaN

## Removed Duplicate Entries

In [12]:
#if met[met.duplicated()].shape[0] != 0: 
#    met=met.drop_duplicates(keep='first')

In [13]:
duplicate_rows_art = met[met.duplicated()]
print(met.duplicated())
print(duplicate_rows_art.shape)

0         False
1         False
2         False
3         False
4         False
          ...
474378    False
474379    False
474380    False
474381    False
474382    False
Length: 474383, dtype: bool
(0, 21)

#### *Comment: None of the Rows are duplicate of the others*

## Sorting Meaningful Rows

1. Sort the dataframe by Object Begin date and filter out objects without dates or have dates that doesn't make sense
>According to observation, among the artworks in dataframe, it is very likely that among Object Date, Object Begin Date, Object End Date, Artist Begin Date, and Artist End Date, there's at least one grid that has relavant data that give insight on the year the object/artwork was created/completed. Thus when filtering the rows, I did not get rid of the rows with NaNs in parts of these date grids.

In [15]:
met = met[met["Object Begin Date"].notnull() 
          & ((met["Object Begin Date"] != 0) 
             | (met["Object End Date"] != 0)) 
          & ((met["Object Begin Date"] <= 2020) 
             | (met["Object End Date"] <= 2020))].sort_values(by="Object Begin Date", ascending=True)
met.head()

,Is Highlight,Is Public Domain,Is Timeline Work,Object ID,Department,AccessionYear,Object Name,Title,Culture,Artist Role,...,Artist Nationality,Artist Begin Date,Artist End Date,Object Date,Object Begin Date,Object End Date,Medium,Dimensions,Credit Line,Tags
363928,False,False,True,573104,Egyptian Art,1906,"Tool, biface, hand ax, sub-cordiform","Biface, commonly referred to as a hand ax",NaN,NaN,...,NaN,NaN,NaN,"ca. 400,000–240,000 B.C.",-400000,-240000,Flint,"L. 9.6 × W. 6.5 × Th. 1.9 cm, Wt. 122.7g (3 13...","Gift of C. T. Currelly, 1906",Tools and Equipment
363920,False,False,True,573096,Egyptian Art,1906,"Tool, Biface, Hand-axe, Ovate","Biface, commonly referred to as a hand ax",NaN,NaN,...,NaN,NaN,NaN,"ca. 400,000–240,000 B.C.",-400000,-240000,Flint,"L. 11.9 × W. 8.2 × Th. 4 cm, Wt. 356.5g (4 11/...","Gift of C. T. Currelly, 1906",Tools and Equipment
470109,False,False,True,832566,Arms and Armor,1999,Biface,Biface,Acheulean,NaN,...,NaN,NaN,NaN,"ca. 400,000–150,000 B.C.",-300050,-125000,Flint,L. 9 3/4 in. (24.8 cm); W. 4 3/4 in. (12.1 cm)...,"Purchase, Friends of Arms and Armor Gifts, 2019",NaN
363916,False,False,True,573092,Egyptian Art,1906,"Tool, point, Levallois",Retouched Levallois Point,NaN,NaN,...,NaN,NaN,NaN,"ca. 240,000–40,000 B.C.",-240000,-40000,Flint,"L. 10.9 × W. 3.8 × Th. 0.9 cm, Wt. 32.5g (4 1/...","Gift of C. T. Currelly, 1906",NaN
363918,False,False,True,573094,Egyptian Art,1906,"Tool, Levallois, Point",Atypical Levallois Point,NaN,NaN,...,NaN,NaN,NaN,"ca. 240,000–40,000",-240000,-40000,Flint,"L. 12.1 × W. 5.6 × Th. 1.1 cm, Wt. 72.5g (4 3/...","Gift of C. T. Currelly, 1906",NaN

In [16]:
met.shape

(473263, 21)